<head>
<link rel="stylesheet" href="/static/polls/scripts/jquery-ui.css">
<link rel="stylesheet" href="/static/polls/scripts/style.css">
<link rel="stylesheet" href="/static/polls/scripts/menu_styles.css">

<script src="/static/polls/scripts/jquery-1.10.2.js"></script>
<script src="/static/polls/scripts/jquery-ui.js"></script>
<script src="/static/polls/scripts/menu_script.js"></script>

<script type="text/javascript">
$(function() {
    $( "#menu" ).menu();
  });
function toggle( targetId ) {
if (document.getElementById){
 target = document.getElementById( targetId );
  if ( target.style.display == "none") {
   target.style.display = ""; 
  } else { 
   target.style.display = "none";
  }
 }
};
</script>

<link rel="stylesheet" href="/static/polls/scripts/jquery-ui.css">
  <script src="/static/polls/scripts/jquery-1.10.2.js"></script>
  <script src="/static/polls/scripts/jquery-ui.js"></script>
  <link rel="stylesheet" href="/static/polls/scripts/style.css">
<script type="text/javascript">
$(function() {
    $( "#menu" ).menu();
  });
$(function() {
    $( "#datepicker" ).datepicker();
});
</script>
</head>

<body>

<p><img alt="" height="35" src="/static/polls/picture/logo.png" width="213" />&nbsp;&nbsp;&nbsp;&nbsp;
<font size="4"><strong><font color="#004080" size="7">CISEE Reporting Portal</font></strong></font></p>
<div id='cssmenu'>
<ul>
   <li><a href="{% url 'index' %}">Home</a></li>
   <li class='active'><a href='#'>Products</a>
      <ul>
         <li><a href='#'>Product 1</a>
            <ul>
               <li><a href='#'>Sub Product</a></li>
               <li><a href='#'>Sub Product</a></li>
            </ul>
         </li>
         <li><a href='#'>Product 2</a>
            <ul>
               <li><a href='#'>Sub Product</a></li>
               <li><a href='#'>Sub Product</a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='#'>About</a></li>
   <li><a href='#'>Contact</a></li>
</ul>
</div>
<h1> Chart Selection: </h1>

<form name="gateway" action="" method="POST">
{% csrf_token %}
  <fieldset>
    <label>Select Product/Subcomponent:</label>
    <select name="scriptSelect" id="scriptSelect">
      <option disabled selected>Please make a selection</option>
      <option value="chart/WMP_Phases">WMP_Phases</option>
      <option value="chart/TDD_LTE_Phases">TDD_LTE_Phases</option>
      <option value="chart/DCM_Phases">DCM_Phases</option>
    </select>
    
    <input name="update" type="submit" value="Submit">
  </fieldset>
</form>

<script type="text/javascript">
document.getElementById('scriptSelect').addEventListener('change', function(e){
	var selected_value = e.target.value;
	document.forms['gateway'].action = selected_value;
});
</script>

</body>
